body {
	background-color: #fcfcfc;
	color: #555555;
}
.highlight {
	color: #00c7eb;
}
a, 
a:visited {
	color: #00c7eb;
}
a:active,
a:focus,
a:hover {
	color: #00c7eb;
}
.logo {
	height: 30px;
	width: auto;
	position: relative;
	top: -5px;
}
.nav-user-photo {
	width: 36px;
	height: 36px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
	overflow: hidden;
	background-color: #f1f1f1;
	border: 1px solid #eeeeee;
	position: relative;
	top: 7px;
}
.cheer-div {
	background-color: #ffffff;
	display: block;
	border: 1px solid #f1f1f1;
	margin-bottom: 20px;
	border-radius: 9px;
	padding: 25px 20px;
	text-decoration: none;
}
.friend {
	background-color: #ffffff;
	display: block;
	text-align: center;
	height: 230px;
	border: 1px solid #f1f1f1;
	margin-bottom: 20px;
	border-radius: 9px;
	padding: 25px 20px;
	text-decoration: none;
}
.friend:active,
.friend:focus,
.friend:hover {
	text-decoration: none;
}
.friend-photo {
	width: 128px;
	height: 128px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
	overflow: hidden;
	background-color: #f1f1f1;
	border: 1px solid #eeeeee;
}
.mood-bull:before {
	font-size: 24px;
	content: " • ";
	color: #00c7eb;
}
.mood-bull.empty:before {
	color: #caf7ff;
}
.footer {
	text-align: center;
	font-size: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #dedede;
}
.tagline {
	color: #bebebe;
}
.btn-fb {
	background-color: #3b5997;
	border: 0;
	color: #ffffff !important;
	transition: 0.400s all;
	padding: 9px 12px;
}
.btn-fb:hover {
	background-color: #00c7eb;
}
.profile-photo {
	width: 128px;
	height: 128px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
	overflow: hidden;
	background-color: #f1f1f1;
	border: 1px solid #eeeeee;
}
.profile-name {
	font-size: 24px;
	color: #00c7eb;
}
.post-text {
	padding: 9px 18px;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	border-radius: 9px;
	margin-bottom: 20px;
}
.cheer-action-icon {
	width: 36px;
	height: 36px;
	padding: 0;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 24px 24px;
	border-radius: 9px;
	overflow: hidden;
	background-color: #00c7eb;
	border: 0;
}
.cheer-action-icon:active,
.cheer-action-icon:focus,
.cheer-action-icon:hover {
	background-color: #00c7eb;
}
.cheer-action-hug {
	background-image: url(../images/icon-hug.png);
}
.cheer-action-animal {
	background-image: url(../images/icon-animal.png);
}
.cheer-action-hangout {
	background-image: url(../images/icon-hangout.png);
}